variables:
  TARGET_DIR: /var/www

deploy_staging:
  stage: deploy
  tags:
    - live
  script:
    - npm install
    - sudo npm run create-links
    - npm run build-docs
    - sudo rsync -azr --delete --exclude .git/ --exclude-from .rsyncignore $CI_PROJECT_DIR $TARGET_DIR
    - sudo chown -R www-data $TARGET_DIR/$CI_PROJECT_NAME
    - sudo chgrp -R www-data $TARGET_DIR/$CI_PROJECT_NAME
    - sudo forever start -c "node -r babel-register" --sourceDir /var/www/localfoodnodes-api index.js
  only:
    - live