/*
 * Content
 */
body {
  min-width: 980px;
  max-width: 1280px;
  background-color:#fafafa;
}

#content {
  padding-top: 15px;
  margin-left: calc(30vw + 15px);
  width: calc(70vw - 30px);
}

pre {
  display: flex;
}

.description {
  margin-bottom: 2rem;
  max-width: 600px;
}

/*
 * Sidenav
 */
.sidenav {
  width: 30vw;
  margin: 0;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #333;
  z-index: 10;
}

.sidenav > li > a {
  color: #fff;
  display: block;
  margin: 0;
  padding: 2px 11px;
  border: 0;
  border-left: transparent 4px solid;
  border-right: transparent 4px solid;
  font-weight: 400;
  font-size: 14px;
}

.sidenav > li > a:hover {
  background: transparent;
  color: #ccc;
  text-decoration: underline;
}

.sidenav > li.nav-header {
  margin-top: 30px;
}

.sidenav > li.nav-header > a {
  width: 190px;
  font-weight: 700;
  font-size: 16px;
}

.sidenav > li.active > a {
    position: relative;
    z-index: 2;
    color: #ccc;
    text-decoration: underline;
}

.sidenav > li.has-modifications a {
  border-right: #60d060 4px solid;
}

.sidenav > li.is-new a {
  border-left: #e5e5e5 4px solid;
}

/*
 * Side nav search
 */
.sidenav-search {
  width: 30vw;
  left: 0px;
  position: fixed;
  padding: 15px;
  background-color: #333;
  z-index: 11;
}

.sidenav-search input {
  border: 0;
}

/*
 * Section
 */
section h2 {
  margin: 5rem 0 2rem;
}

/*
 * Article
 */
article {
  background: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
  padding-bottom: 6rem;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 10px #ccc;
}

article h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

article h4 {
  margin-top: 4rem;
}

article .label {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
}

article .nav-tabs {
  margin-bottom: 1rem;
}

article .table p {
  margin: 0;
}

/*
 * Spinner
 */
 #loader {
  position: absolute;
  width: 100%;
}

#loader p {
  padding-top: 80px;
  margin-left: -4px;
}

.spinner {
  margin: 200px auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.container1 > div,
.container2 > div,
.container3 > div {
  width: 14px;
  height: 14px;
  background-color: #ccc;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}